#game-menu
    div
        h3#whos-turn(data-ng-bind="gameCtrl.game.status.getCurrentTeamName().withOwnership() + ' turn'")

        button#menu-button(
          title="Open menu"
          data-ng-class="{ selected: gameCtrl.menu.isOpen }"
          data-ng-click="gameCtrl.menu.toggleOpen()")
            i(class="fa fa-bars fa-fw fa-lg")

    #menu(data-ng-show="gameCtrl.menu.isOpen" data-ng-repeat="item in gameCtrl.menu.items")
        .menu-item(
          title="{{item.label}}"
          data-ng-show="gameCtrl.menu.shouldShow(item)"
          data-ng-class="{ selected: gameCtrl.menu.selected === item, unselected: gameCtrl.menu.selected !== item }" 
          data-ng-click="gameCtrl.menu.toggle(item)")
            h4 {{item.label}}
                i(class="back-arrow fa fa-arrow-circle-left" data-ng-show="gameCtrl.menu.selected === item")
            i(class="fa fa-fw fa-lg" data-ng-class="{ 'fa-{{item.iconName}}': true }")

    div.menu-detail(data-ng-show="gameCtrl.menu.selected === gameCtrl.menu.players")
        include players

    div.menu-detail(data-ng-show="gameCtrl.menu.selected === gameCtrl.menu.history")
        include history

    div.menu-detail(data-ng-show="gameCtrl.menu.selected === gameCtrl.menu.debug")
        include debug